body, h2, p {
  margin:0;
  padding: 0;

}

body {
  padding: 3em;
  background-color: blueviolet;
}

header img {
  width:20%;

}

main {
  
  display: flex;
  justify-content: space-between;
}

main img {
  width:50%;
}

.content {
  width: 40%;
  padding-top: 2em;
}

.content h2 {
  color: white;
  font-size: 40px;
}

.content p {
  margin: 2em 0em;
  color:white;
  font-size: 20px;
}

.content button {
  padding: 1em;
  color:purple;
  background-color: white;
  border: none;
  border-radius: 0.5em;
  width: 40%;

}